@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #066acd;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 25px;
  min-width: 450px;
}

.heading {
  color: #066acd;
  margin-bottom: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.todo-input {
  border: 2px solid #d1d3d4;
  height: 45px;
  width: 75%;
  padding: 12px;
  font-size: 15px;
  color: #111;
  font-weight: 500;
  border-radius: 5px;
  font-family: inherit;
}

.todo-input:focus {
  border-color: #0d75ec;
}

.todo-btn {
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background-color: #0d75ec;
  color: #fff;
  border: none;
}

.todo-list,
.completed-list {
  list-style-type: none;
}

.todo-item,
.completed-item {
  background-color: #c3e0e4;
  color: #111;
  position: relative;
  padding: 10px 60px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
}

.todo-item .number,
.completed-item .number {
  background-color: #69bdc9;
  color: #fff;
  display: inline-block;
  width: 50px;
  height: calc(100% + 3px);
  padding: 12px;
  margin-right: 5px;
  position: absolute;
  left: -2px;
  top: -2px;
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  text-align: center;
  border: 2px solid #69bdc9;
  border-radius: 2px;
}

.edit,
.completed,
.undo,
.deleted {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #2e7681;
  width: 40px;
  line-height: 100%;
  padding: 12px;
  cursor: pointer;
}

.edit:hover,
.undo:hover,
.completed:hover,
.deleted:hover {
  color: #066acd;
}

.edit,
.undo {
  right: 30px;
}

.completed,
.deleted {
  right: 0;
}

.completed-container {
  margin-top: 40px;
}

.completed-container .heading {
  color: #888;
}

.undo:hover {
  color: #04aa6d;
}

.deleted:hover {
  color: #ff0036;
}

.completed-container .completed-item {
  text-decoration: line-through;
  background-color: #ddd;
  color: #b5a7a7;
}

.completed-container .number {
  background-color: #888;
  border-color: #888;
}

.undo,
.deleted {
  color: #3c3939;
}

.todo-text,
.completed-text {
  margin-right: 10px;
  padding: 0px 8px;
}

.editable-text {
  color: #0d75ec;
  border: 1px solid #cbc4c4;
}

.edit {
  display: none;
}
